<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
  </head>
  <body>
      <h1>{{name}}</h1> <img src="{{profile_pic}}"> </br>
      {{URL}} </br>
      {{email}}
      <a href="/user/{{user_id}}/post">Make a Blog Post</a>
  </body>
</html>
