
<ul>
  <li>
    {{#each user}}
      {{name}}<br>
      {{email}}<br>
      <img src="{{img}}">
    {{/each}}
  </li>
</ul>

{{!-- {{>editprofile}} --}}
<a href="/add">Add</a>

<form name="user" method="post" action="/addblog">
  <select name="user">
    {{#each user}}
    <option value="{{id}}">{{name}}</option>
    {{/each}}  
  </select>
  <input placeholder="Title" type="text" name="title"><br>
  <textarea placeholder="Comments" name="blog" rows="5" cols="50"></textarea><br>
  <button type="submit"></button>
</form>

<a href="/">Back to Index</a>

